.about-me-container {
    display:flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
}

.name {
    font-size: 80px;
    margin-top: 20px;
    text-align: center;
}

.titles {
    font-size: 40px;
    margin-top: 20px;
}

.hello {
    font-size: 30px;
    margin-top: 100px;
}

h3, h4 {
    text-align: center;
    color: midnightblue;
}

.me{
    font-size: 25px;
    line-height: 3rem;
    font-family: 'PT Sans', sans-serif;
}

.skill-container {
    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.skill {
   width: 400px; 
}

.skill-1 {
    width: 200px;
}

@media screen and (max-width: 960px) {

    .me {
        margin: 50px 10px;
        font-size: 18px;
    }

    .skill-container {
        flex-direction: column;
        
    }

    .skill {
        width: 300px; 
     }

     .skill-1 {
        width: 125px;
        margin-top: 75px;
    }

}


@media screen and (min-width:961px) {
    .me {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .skill-1{
        margin-left: 35px;
    }
    
}