html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

.container {
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 16px;
    max-width: 100%;
    margin: 0 auto;
}

header {
    background-color: midnightblue;
    text-align: center ;
    padding: 0;
}

button {
    background-color: black;
    color: #ffd700;
    border: none;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-flex;
    font-size: 18px;
    margin-bottom: 0;
}

button:hover {
    box-shadow: 0 0 4px 2px white;
}

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
    font-weight: 600;
    font-size: 16px;
}


nav ul li {
    padding-right: 10px;
    border: none;
    border-radius: 8px;
    margin-right: 15px;
}

nav ul li a {
    color: #ffd700;
    text-decoration: none;
}

header h1 {
    margin: 0;
}

.introduction {
    text-align: center;
    padding-top: 40px;
}

.hello {
    text-align: center;
    font-size: 18px;
    color: midnightblue;
}

.name {
    font-size: 36px;
}


header p {
    margin: 5px 0;
}

.about-me,
.projects,
.contact {
    padding: 20px 0;
}

.container-two {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 16px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
}

section h2 {
    color: midnightblue;
}

p {
    line-height: 24px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: left;
}


h4 {
    color: #ffd700;
    }

#skill {
    width: 35vw; /* Set a small width */
    display: flex;
    text-align: center;
    margin: 0 auto;
}

#skill-1 {
    width: 10vw; /* Set a small width */
    display: flex;
    text-align: center;
    margin: 0 auto;}

.container-three {
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    gap: 16px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
}

footer {
    background-color: midnightblue;
    color: #ffd700;
    text-align: center;
    padding: 0 20px;
}

.thumbnail {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    width: 60%;
}

#icon {
    width: 70px; /* Set a small width */
}

.thumbnail:hover {
    box-shadow: 0 0 8px 4px rgba(0, 140, 186, 0.5);
}

/* Responsive Styles */

@media only screen and (min-width: 600px) {
    .container {
        padding: 30px;
    }

    .name {
        font-size: 80px;
    }

    header p {
        font-size: 18px;
    }

    button {
        font-size: 18px;
    }

    .hello {
        padding-right: 50px;
    }

    p {
        font-size: 28px;
        margin-left: 15vw;
        margin-right: 15vw;
        line-height: 2;
    }
}


@media only screen and (min-width: 992px) {
    .container {
        padding: 40px;
    }

    header {
        padding: 0px;
    }

    .name{
        font-size: 100px;
    }

    h2{
        font-size: 40px;
    }

    p{
        margin: 0 400px 20px 400px;
    }

    h4{
        font-size: 36px;
    }

    .container-two,
    .container-three {
        flex-direction: row;
    }

    .hello{
        font-size: 28px;
    }

    nav ul li a {
        font-size: 22px;
    }

    #icon {
        width: 140px; /* Set a small width */
    }

}